/* Palette */

:root {
    --ds-navy: #000011;
}

/* Overwrites */

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--ds-navy);
}

/* Deepsea */

#deepsea {
    display: flex;
    width: 100vw;
    height: 100vh;
}